#activities
  .activity
    width: 530px
    list-style-type: none

    .info
      width: 370px
      float: left
      margin: 5px 5px
    .actions
      width: 140px
      float: right
      margin: 5px 5px
      text-align: right

  .spent-time-list
    padding: 5px 5px 5px 20px

    .spent-time-item
      list-style-type: none
      padding: 2px
