#activities
  li
    width: 530px
    list-style-type: none

    .info
      width: 370px
      float: left
      margin: 5px 5px
    .controls
      width: 140px
      float: right
      margin: 5px 5px
      text-align: right
