%section
  %p
    Today you've spent:
    %span#total-spent-time
    (#{link_to 'see more', reports_path, target: '_blank'})

%section#timer-area
  %p#commands
    %a#pomodoro{ href: '#' } Pomodoro
    |
    %a#long-break{ href: '#' } Long Break
    |
    %a#short-break{ href: '#' } Short Break
  %p
    %span#timer
    %span#notification

%section#activity-area
  %form#new-activity
    %p
      %input#activity-description{ type: 'text', size: '30' }
    %p
      %input{ type: 'submit', value: 'Add' }

  %ol#activities

- content_for :javascript do
  :javascript
    $(function() {
      window.router = new Pomodoro.Routers.Activities({
        activities: #{@activities.to_json.html_safe},
        spentTimes: #{@spent_times.to_json.html_safe}
      });
      Backbone.history.start();
    });
