#timer-area
  %p
    %span#timer= '25:00'

#activity-area
  = form_for(@activity) do |f|
    %p
      =f.text_field :description
      =f.submit id: 'save_activity', value: 'Add'

  %ol#activities

#alarm-area
  %audio

#activities

- content_for :javascript do
  :javascript
    $(function() {
      window.router = new Pomodoro.Routers.ActivitiesRouter({activities: #{@activities.to_json.html_safe}});
      Backbone.history.start();
    });
