#timer= '25:00'

%input#start_timer{ :type => 'button', :value => 'Start' }

#add_activity
  = form_for(@activity) do |f|
    =f.text_field :description
    =f.submit :id => 'save_activity'

- @activities.each do |activity|
  .activity= activity.description
