#counter= '25:00'

#add_activity
  = form_for(@activity) do |f|
    =f.text_field :description
    =f.submit :id => 'save_activity'

- @activities.each do |activity|
  .activity= activity.description
